/* line 3, projects.scss */
.projects-list {
  padding: 0;
  list-style: none;
}

/* line 8, projects.scss */
.project {
  position: relative;
  margin: 25px 15px;
  margin-left: 0;
  width: 320px;
  padding-bottom: 0;
  display: inline-block;
  border-radius: 5px;
}
/* line 17, projects.scss */
.project .notifications {
  display: block;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 30px 40px;
  transition: 0.5s linear all;
  z-index: -10000;
  left: 82%;
  top: -38px;
  width: 35px;
  height: 23px;
  background: #bb0000;
  padding-right: 8px;
  padding-top: 1px;
  text-align: right;
  color: white;
  font-size: 15px;
}
/* line 35, projects.scss */
.project .notifications.up {
  -webkit-transform: rotate(0deg);
}
/* line 39, projects.scss */
.project .notifications:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 23px;
  width: 5px;
  height: 15px;
  /* border: 50px solid transparent; */
  /* border-top-color: #bb0000; */
  background-color: #bb0000;
}
/* line 52, projects.scss */
.project .title-and-icon {
  padding: 15px 30px;
  height: 94px;
  padding-bottom: 0;
}
/* line 57, projects.scss */
.project .title-and-icon .title {
  vertical-align: top;
  display: inline-block;
  color: white;
  font-size: 24px;
  max-width: 178px;
  margin-bottom: 10px;
  margin-right: 4px;
}
/* line 67, projects.scss */
.project .title-and-icon .icon {
  display: inline-block;
  background-color: white;
  padding: 7px;
  margin-top: -18px;
}
/* line 73, projects.scss */
.project .title-and-icon .icon img {
  height: 56px;
  width: 60px;
}
/* line 78, projects.scss */
.project .title-and-icon .icon:after {
  display: block;
  content: url(/images/ge/clip.png);
  position: relative;
  z-index: 100000;
  left: 10px;
  top: -77px;
  height: 0;
}
/* line 90, projects.scss */
.project .project-info {
  height: 60px;
  padding: 10px 30px;
  color: rgba(0, 0, 0, 0.55);
}
/* line 96, projects.scss */
.project .project-info .last-build {
  float: left;
}
/* line 97, projects.scss */
.project .project-info .build-success {
  float: right;
  color: #fffffa;
  font-weight: bold;
}
/* line 102, projects.scss */
.project .project-info .build-success:after {
  clear: both;
  display: table;
}
/* line 111, projects.scss */
.project .project-info-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 35px;
  padding: 0 30px;
}
/* line 118, projects.scss */
.project .project-info-footer ul {
  padding: 0;
  list-style: none;
}
/* line 122, projects.scss */
.project .project-info-footer ul li {
  display: inline-block;
}
/* line 127, projects.scss */
.project .project-info-footer .project-actions {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}
/* line 132, projects.scss */
.project .project-info-footer .project-actions .icon-project-dashboard {
  background-image: url(/images/icons/white-dashboard.png);
}
/* line 135, projects.scss */
.project .project-info-footer .project-actions .icon-project-cloud {
  background-image: url(/images/icons/white-cloud.png);
}
/* line 138, projects.scss */
.project .project-info-footer .project-actions .icon-project-settings {
  background-image: url(/images/icons/white-settings.png);
}
/* line 143, projects.scss */
.project .project-info-footer .project-progress {
  margin-right: 10px;
  margin-top: 12px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90px;
  height: 5px;
}
/* line 151, projects.scss */
.project .project-info-footer .project-progress .progress-bar {
  background-color: white;
}
/* line 156, projects.scss */
.project .project-info-footer .code-button {
  display: inline-block;
  position: relative;
  left: 0;
  top: 3px;
  line-height: 1;
  padding-top: 6px;
}
/* line 164, projects.scss */
.project .project-info-footer .code-button a {
  font-size: 17px;
  color: white;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 170, projects.scss */
.project .project-info-footer .code-button a:visited, .project .project-info-footer .code-button a:hover, .project .project-info-footer .code-button a:active {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* line 179, projects.scss */
.project:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 18px 18px 0;
  border-style: solid;
  border-color: #dddddd #dddddd #666666 #666666;
  display: block;
  width: 0;
}

/* line 192, projects.scss */
.project.add-new {
  background-color: #cccccc;
  position: relative;
  top: -13px;
  margin-top: 35px;
  height: 175px;
  width: 320px;
}
/* line 200, projects.scss */
.project.add-new .white-plus {
  margin: 20px;
  height: 72px;
  width: 66px;
  background-image: url(/images/ge/white-plus.png);
  background-repeat: no-repeat;
}
/* line 208, projects.scss */
.project.add-new .new-project-btn {
  margin-left: 20px;
  color: white;
  font-size: 32px;
}

/* line 215, projects.scss */
.dont-break {
  display: inline-block;
}

/* line 219, projects.scss */
.new-project {
  background-color: #666666;
  border-radius: 5px;
  padding: 3px 15px;
  color: white;
}
/* line 225, projects.scss */
.new-project:visited, .new-project:hover, .new-project:active {
  background-color: #666666;
  color: white;
}
